:root{
    --sKek: #004e98;
    --vKek: #004e98;
    --szurke: #c0c0c0;
    --vFeher: #ebebeb;
    --vNsarga: #ff6700;
}

@font-face {
    font-family: Humane;
    src: url(fonts/Humane-Bold.otf);
}
model-viewer {
    background-color: transparent;
  }
body{
    padding: 0;
    margin: 0;
}
.fsDiv{
    height: 100vh;
    width: 100%;
}